@tailwind base;
@tailwind components;
@tailwind utilities;
@import "yet-another-react-lightbox/styles.css";
@import "yet-another-react-lightbox/styles.css";
@import "yet-another-react-lightbox/plugins/counter.css";

body {
  font-family: Poppins, Helvetica, sans-serif;
  line-height: 1.5;
}

li {
  line-height: 1.5;
}



/* 
* {
  border: 1px purple solid;
} */

@layer base {
  :root {
    /* Brand color palette - BOSTON BLUE */
    --brand-primary-accent-50: '#e3f2fb';  /* Lightest*/
    --brand-primary-accent-100: '#c7e5f7'; /* Very light*/
    --brand-primary-accent-200: '#a3d4ef'; /* Light*/
    --brand-primary-accent-300: '#72bde3'; /* Lighter*/
    --brand-primary-accent-400: '#479dcf'; /* Base shade - lighter version*/
    --brand-primary-accent-500: '#338fbf'; /* Base Color*/
    --brand-primary-accent-600: '#2d7fae'; /* Darker base*/
    --brand-primary-accent-700: '#246590'; /* Dark*/
    --brand-primary-accent-800: '#1c4e70'; /* Darker*/
    --brand-primary-accent-900: '#153a54'; /* Very dark*/
    --brand-primary-accent-950: '#0c2333'; /* Darkest*/

    /* Brand color palette - BOSTON BLUE */
    --brand-secondary-accent-50: #e3e7b4;  /* Lightest */
    --brand-secondary-accent-100: #c7db84; /* Very light */
    --brand-secondary-accent-200: #a3cc4c; /* Light */
    --brand-secondary-accent-300: #72b330; /* Lighter */
    --brand-secondary-accent-400: #479c28; /* Base shade - lighter version */
    --brand-secondary-accent-500: #bfbd33; /* Base Color */
    --brand-secondary-accent-600: #a3a328; /* Darker base */
    --brand-secondary-accent-700: #888e23; /* Dark */
    --brand-secondary-accent-800: #6c741e; /* Darker */
    --brand-secondary-accent-900: #4f5418; /* Very dark */
    --brand-secondary-accent-950: #3b3e12; /* Darkest */

    
    --max_width: 86rem;
    --highlight-primary-accent: 333, 58%, 47%;
    --highlight-second-accent: 46, 71%, 51%;

    /* Custom Palette */


    /* --background: 180 100% 99.8%; */
    --background: 200.7 58.2% 98%;
    --foreground: 200.3 59.6% 21.4%;
    --border: 0 0% 89%;

    --highlight: 333 58% 47%;
    --highlight-foreground: 0 0% 98%;

    --accent-secondary: 200.3 59.6% 21.4%;
    --accent-secondary-foreground: 200.7 58.2% 98%;

    --card: 0 0% 100%;
    --card-foreground: 200.3 59.6% 21.4%;
    
    --glowing-shadow: 200.31deg 59.63% 21.37% / 45.1%;

    --muted: 200.3 59.6% 94.4%;

    /* --background: 0 0% 98%; */
    /* --foreground: 210 8% 5%; */
    /* --border: 200 6% 90%; */
    /* --card: 0 0% 98%; */
    /* --muted: 210 7% 94%; */
    
    --card-foreground: 210 8% 5%;
    --popover: 0 0% 98%;
    --popover-foreground: 210 8% 5%;
    --primary: 201 58% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 7% 94%;
    --secondary-foreground: 210 8% 5%;
    --muted-foreground: 201 6% 45%;
    --accent: 210 7% 94%;
    --accent-foreground: 210 8% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --input: 204 6% 83%;
    --ring: 201 24% 75%;
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 .dark {
   /* Custom Palette */
   --accent-secondary: 200.3 59.6% 21.4%;
   --accent-secondary-foreground: 200.7 58.2% 98%;
   
   --background: 0 0% 2.7%;
   --foreground: 0 0% 94.1%;
   --border: 180 2% 12%;
   --card: 0 0% 5.9%;
   --card-foreground: 0 0% 97%;
   
   --glowing-shadow: 0deg 0% 0% / 80%;

    /* --background: 180 4% 5%; */
    /* --foreground: 0 0% 98%; */
    /* --border: 180 2% 12%; */
    /* --card: 240 3% 6%; */
    /* --card-foreground: 0 0% 98%; */
    --popover: 240 3% 6%;
    --popover-foreground: 0 0% 98%;
    --primary: 201 97% 26%;
    --primary-foreground: 0 0% 98%;
    --secondary: 180 2% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 2% 18%;
    --muted-foreground: 192 2% 49%;
    --accent: 202 18% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --input: 210 2% 18%;
    --ring: 201 97% 40%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  } 


}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-effect {
    @apply p-2 lg:p-3 bg-background/40 backdrop-blur-md border rounded-md shadow-sm;
  }

  .floating-shadow {
    box-shadow: 0 3px 10px 0px hsl(var(--glowing-shadow));
  }

}
